<!DOCTYPE html>
<html>
    <style>
html{
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Cbhl4XR/plexus-in-motion-nice-3d-plexus-good-background-or-overlay_brwaxdxf__F0000.png);
    }
</style>
<head>
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div id="home_button"><a href="index"><strong>Home</a></div></strong>
    <div id="contact_button"><a href="contact"><strong>Contact Us</a></div></strong>
    <center><div class="title" style="color:white"><strong>About Us</div></center></strong>
    <center><div class="text">
        <h2>This website is a simple matchmaking service that connects you to ghosts depending on a simple survey.</h2>
        <h2>Choose your desired traits to meet your ghostly match today!</h2>
    </div></center>
</body>
</html>
