<!DOCTYPE html>
<html>
    <style>
html{
        background-image: url(https://www.publicdomainpictures.net/pictures/130000/velka/gray-haze-background.jpg);
    }
</style>
<head>
<title>Contact Us</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div id="home_button"><a href="index"><strong>Home</a></div></strong>
    <div id="about_button2"><a href="about"><strong>About</a></div></strong>
    <center><div class="title">Contact Us</div></center>
    <center><div class="text">
        <h2>You can contact us at Soul Finder through seance or call us at our toll free +6(666)-250-9165</h2>
        <h2>Reach out to us if you have lingering problems with ghosts you match up with.</h2>
    </div></center>
</body>
</html>