<!DOCTYPE html>
<html class="allpage">
<head>
<title>Soul Finder</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>    
<body>
<div>   
    <div id="about_button"><a href="about"><strong>About</a></div></strong>
    <div id="contact_button"><a href="contact"><strong>Contact Us</a></div></strong>
    <center><div id="title"><img src= "image/iconn.png" style="height:20%"></div></center>
    <div id="finder">
    <center>
    <p>Welcome to Soul Finder! Are you lonely? Do you want to find your soulmate?! Answer these simple questions to get matched with your phantom soulmate today!</p>
    <form method="POST" action="/">
        Location:
        <select name="Location">
            <option value="North_America">North America</option>
            <option value="Europe">Europe</option>
            <option value="Asia">Asia</option>
        </select>
        <br>
        Hobby:
        <select name="Hobby">
            <option value="Playing_board_games">Playing board games</option>
            <option value="Acting">Acting</option>
            <option value="Taking_care_of_marine_life">Taking care of marine life</option>
            <option value="Making_cartoons">Making cartoons</option>
            <option value="Analyzing_how_to_win_war">Analyzing how to win war</option>
            <option value="Painting">Painting</option>
            <option value="Melting_people_in_tar">Melting people in tar</option>
            <option value="Singing">Singing</option>
            <option value="Fighting">Fighting</option>
            <option value="Playing_music">Playng music</option>
            <option value="Failing_to_capture_Russia">Failing to capture Russia</option>
            <option value="Creating_inventions">Creating inventions</option>
            
        </select>
        <br>
        Age:
        <select name="Age">
            <option value="18-38">18 to 38</option>
            <option value="39-58">39 to 58</option>
            <option value="59-78">59 to 78</option>
            <option value="79-98">79 to 98</option>
        </select>
        <br>  
        Gender:
        <select name="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <input type="submit" value="Go">
            </center>
        <br>
        </div>
    </form>
</div> 
</body>    
</html class="allpage">